/* registerLogin.css */

/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

p {
  text-align: center;
  color: #d9534f;
  margin-top: 0.5rem;
}

a {
  color: #5bc0de;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Form Container */
.login-container, .register-container {
  background-color: #fff;
  padding: 4rem;
  border-radius: 17px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

input[type="submit"], button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover, button:hover {
  background-color: #0056b3;
}

/* Message */
p {
  font-size: 14px;
  color: #d9534f;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-container, .register-container {
    padding: 1.5rem;
  }

  h2 {
    font-size: 20px;
  }

  input[type="submit"], button {
    padding: 12px;
    font-size: 18px;
  }
}

/* Posisi ikon mata di dalam input */
.form-group {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 68%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 18px;
}

.eye-icon:hover {
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  padding-right: 35px; /* Beri ruang untuk ikon mata */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}





